.aside-filter {
  box-sizing: border-box;
  padding: 20px;
  width: 232px;
  height: 252px;
  box-shadow: 0 2px 8px 0 #0000001A;
  border-radius: 5px;
  background-color: #FFFFFF;

  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: start;
  row-gap: 10px;

  @media (max-width: 768px) and (min-width: 425px){
    overflow-y: auto;
    position: sticky;
    top: 20px;
  }
}

.filter-name {
  font-weight: 400;
  word-spacing: 0.5px;
  flex-basis: 100%;
  min-width: 150px;
  flex-shrink: 1;
  flex-grow: 1;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.5px;
  color: #4A4A4A;
  text-transform: uppercase;
  margin: 0;
}

@media (max-width:  940px) {
  .aside-filter {
    height: 270px;
  }
}


