.ticket-line {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: none;
  background-color: green;
  height: 39px;
  column-gap: 20px;
  transition: all 0.1s ease;

  & span {
    width: 141px;
    height: 100%;
    background-color: darkgreen;
    transition: all 0.1s ease;

    &:hover {
      transform: scale(1.015);
    }
  }

  &:first-child {
    justify-content: space-between;
    transform: translateY(-10px);

    &> span:nth-child(2) {
      display: none;
    }
  }
}


