.filter-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 10px;
  padding: 0 10px;
  margin: 0;
  margin-left: -20px;
  width: calc(100% + 20px);
  height: 40px;
  font-size: 13px;
  line-height: 20px;
  text-align: left;
  background-color: inherit;
  color: rgba(74, 74, 74, 1);
  align-items: center;
  transition: background-color;
  overflow: visible;

  &:hover {
    background-color: #F1FCFF;
    cursor: pointer;
  }

  & .filter-checkbox {
    position: relative;
    visibility: hidden;
    margin: 0;
    width: 20px;
    height: 20px;

    & + label {
      cursor: pointer;
    }

    &::after {
      box-sizing: border-box;
      content: '';
      cursor: pointer;
      display: inline-block;
      visibility: visible;
      border: 1px solid #9ABBCE;
      border-radius: 2px;
      width: 20px;
      height: 20px;
    }
  }
}

