.tickets-section {
  height: 1000px;
  width: 504px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tickets-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 20px;
}
